* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e1e8ed;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#top-search {
    background-color: #2196f3;
    padding: 0px 5%;
    height: 0;
}

.input-box {
    position: relative;
}

#top-search .search {
    width: 100%;
    height: 40px;
    padding: 0 30px 0 30px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
}

#top-search .search::placeholder {
    font-size: 17px;
    color: #fff;
}

#top-search .search:focus {
    outline: none;
}

.topser-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    color: #fff;
    font-size: 27px;
    border: none;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#topsercross-icon {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    top: 3px;
}

.header {
    position: relative;
    background: #183559;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0;
}

.navbar ul {
    list-style: none;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a:hover {
    background-color: gray;
}

.navbar ul li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 550;
    text-decoration: none;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* .navbar ul li a.active,
.navbar ul>li>a:hover {
    color: #0093FF;
} */

.ser-btn ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.ser-btn ul li a {
    text-decoration: none;
}

.ser-btn #ser-btn-icon {
    display: inline-block;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.ser-btn .enquiry-bnt a {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    display: block;
    background-color: #0093FF;
    border: 2px solid #0093FF;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.ser-btn .enquiry-bnt a:hover {
    color: #152733;
    background-color: #fff;
    border: 2px solid #152733;
}

#bar-icon {
    display: none;
}

.down-arrow {
    position: absolute;
    right: 0;
    top: 11px;
    display: inline-block;
    font-size: 30px;
}

.navbar ul ul li a .arrow-right {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
}

@media(min-width:992px) {
    .navbar ul li ul {
        position: absolute;
        border-top: 3px solid #0093FF;
        list-style: none;
        min-width: 250px;
        background: #152733;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
    }

    .navbar ul>li:hover>ul {
        visibility: visible;
        z-index: 1000;
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .navbar ul ul li {
        position: relative;
    }

    .navbar ul ul li a {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        padding: 8px 10px;
        line-height: 1.8rem;
        border-bottom: 1px solid #ddd;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .navbar ul ul li a:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: transparent;
        padding-left: 25px;
    }

    .navbar ul li ul ul {
        position: absolute;
        left: 100%;
        top: 0;
    }

}


@media(max-width:1200px) {
    .logo a {
        font-size: 20px;
    }

    .navbar ul li a {
        font-size: 15px;
        padding: 22px 16px;
    }

    .ser-btn .enquiry-bnt {
        padding: 10px 3px;
        font-size: 12px;
    }
}

@media(max-width:992px) {
    .navbar>ul {
        position: absolute;
        background-color: #152733;
        left: 0;
        right: 0;
        top: 60px;
        width: 90%;
        margin: auto;
        flex-direction: column;
        border-top: 8px solid #0d6efd;
    }

    .header {
        height: 60px;
    }

    .ser-btn .enquiry-bnt {
        display: none;
    }

    .ser-btn #bar-icon {
        display: block;
    }

    .ser-btn #bar-icon a {
        background-color: #0162CA;
        color: #fff;
        font-size: 27px;
        padding: 1px 5px;
    }

    .logo a {
        font-size: 30px;
        font-weight: 800;
    }

    .navbar ul li {
        border-top: 1px solid #e6e6e6;
    }

    .navbar ul li a {
        padding: 15px 16px;
    }

    .navbar ul li>ul {
        background-color: #2b5570;
    }

    .navbar ul li>ul li a {
        font-size: 13px;
        padding: 10px 25px;
    }

    .navbar ul ul li a .arrow-right {
        font-size: 18px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .navbar ul li a .down-arrow {
        right: 10px;
        top: 9px;
        font-size: 35px;
    }

    .navbar ul li ul li>ul {
        background-color: #0162cA;
    }

    #menu {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }



    #menu.show {
        overflow-y: auto;
        visibility: visible;
        opacity: 1;
        width: 100%;
        max-height: 100vh;
    }

    .submanu,
    .sub-sub-menu {
        display: none;
    }

    .submenushow,
    .show-sub-sub-menu {
        display: block;
    }

}

.width90 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}


section {
    margin-top: 40px;
}

.title {
    font-size: 35px;
    font-family: cursive;
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    margin: 10px 0;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 28%;
    height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member {
    border-radius: 20px;
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
}

.member img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #726a95;
    margin: 15px 0;
}

.member p {
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}










span {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #f91942;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.section-head h4::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f;
}

.section-head p {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover {
    background: #f91942;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #f91942;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.2);
    color: #f91942;
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #f91942;
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #f91942;
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #f91942;
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #f91942;
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #f91942;
}

.item p {
    font-size: 15px;
    line-height: 26px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}

.col-sm-12 {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.row {
    border-radius: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    justify-content: space-around;
}

.col-sm-6 {
    width: 30%;
}

.item h6 {
    font-size: 25px;
}


@media (max-width:750px) {
    .col-sm-6 {
        width: 48%;
    }
}

@media (max-width:500px) {
    .col-sm-6 {
        width: 100%;
    }
}








.moreinfo {
    background-color: #4CAF50;
    padding: 10px 32px;
    width: 100%;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
}

.moreinfo:hover {
    background-color: rgb(146, 216, 132);
}

.education-link {
    margin-top: -50px !important;
}


.moreinfo a {
    text-decoration: none;
    color: white;
}

@media (max-width:750px) {

    .col-sm-6 {
        width: 48%;
    }

    .box1 {
        width: 48%;
    }
}

@media (max-width:500px) {
    .col-sm-6 {
        width: 100%;
    }
}


.member .img {
    border-radius: 0px;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 0px;
}

.member1 {
    padding: 0px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}












.contact-container {
    z-index: 12;
    max-width: 1050px;
    width: 96%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.contact-container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

.content .image-box {
    max-width: 55%;
}

.content .image-box img {
    width: 100%;
}

.content .topic {
    font-size: 22px;
    font-weight: 500;
    color: #ba24c2;
}

.content form {
    width: 40%;
    margin-right: 30px;
}

.content .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid {
    border-color: #ba24c2;
    background-color: #fff;
}

.content .input-box label {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.content .input-box input:focus~label,
.content .input-box input:valid~label {
    top: 0;
    left: 12px;
    display: 14px;
    color: #ba24c2;
    background: #fff;
}

.content .message-box {
    min-height: 100px;
    position: relative;
}

.content .message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: #fae9fb;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}

.content .message-box textarea:focus {
    border-color: #ba24c2;
    background-color: #fff;
}

.content .message-box label {
    position: absolute;
    font-size: 16px;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.content .message-box textarea:focus~label {
    left: 12px;
    top: -10px;
    color: #ba24c2;
    font-size: 14px;
    background: #fff;
}

.content .input-box input[type="submit"] {
    color: #fff;
    background: #ba24c2;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.content .input-box input[type="submit"]:hover {
    background-color: #d43ddb;
}

@media (max-width:1000px) {
    .content .image-box {
        max-width: 70%;
    }

    .content {
        padding: 10px 0;
    }
}

@media (max-width:900px) {
    .content .image-box {
        display: none;
    }

    .content form {
        width: 100%;
        margin-left: 30px;
    }
}



.footer-distributed {
    margin-top: 12px;
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}